In [1]:
import xml.etree.ElementTree as et
import pandas as pd

In [2]:
def transform_xml(xml_doc):
    attr = xml_doc.attrib
    for xml in xml_doc.iter('AddOrder'):
        dict = attr.copy()
        dict.update(xml.attrib)
        yield dict
etree = et.parse('orders.xml')
eroot = etree.getroot()

order = transform_xml(eroot)
df1 = pd.DataFrame(list(order))

In [3]:
def transform_xmld(xml_doc):
    attr = xml_doc.attrib
    for xml in xml_doc.iter('DeleteOrder'):
        dict = attr.copy()
        dict.update(xml.attrib)
        yield dict
etree = et.parse('orders.xml')
eroot = etree.getroot()

delorder = transform_xmld(eroot)
df2 = pd.DataFrame(list(delorder))

In [4]:
cond = df1['orderId'].isin(df2['orderId'])
df1.drop(df1[cond].index,inplace=True)
df1

           book operation   price volume  orderId
3        book-3      SELL  100.00     80        4
6        book-3      SELL  100.00     82        7
7        book-2      SELL  100.20     42        8
9        book-1       BUY   99.80     64       10
11       book-3      SELL  100.00     48       12
...         ...       ...     ...    ...      ...
3170309  book-2       BUY   99.40     52  3170310
3170310  book-1       BUY   99.80     50  3170311
3170311  book-2      SELL  100.90     70  3170312
3170313  book-2      SELL  100.70     89  3170314
3170314  book-1       BUY   99.60     69  3170315

[1340630 rows x 5 columns]

In [5]:
books = set(df1['book'])

In [ ]:
for book in books:
    
    print('book: ',book)
    buy_list = []
    sell_list = []
    for index,row in df1.iterrows():
        if(row['book']==book and row['operation']=='BUY'):
            buy_list.append(str(row['volume'])+'@'+str(row['price']))
        else:
            sell_list.append(str(row['volume'])+'@'+str(row['price']))
    print('Buy','---','Sell')
    print('================================================')
    for (i1,i2) in zip(buy_list,sell_list):
        print(i1,'--',i2)

book:  book-3